{% extends "layout_bootstrap.html" %}
{% set active_page = "/about" %}

{% block content %}

    <p> Hello there! This is an application that allows users to follow the availability of certain items on Amazon. </p>

    <p> An application that aims to help users stay up to date on the prices/ availability of the products they are looking for. 
      Given uncertain times such as now, where COVID-19 has forced the supply of certain key products to change in price or become unavailable, there is a high demand for the updating of 
      key product price and availability data. Our application aims to keep users informed on what is happening with their key products in a friendly and 
      easy manner. Say goodbye to checking Amazon 24/7 for toilet paper :)</p>

    <p> Submit your email and a link to an item on Amazon's website and we will update you twice a day as to the availability of the item.
      Thank you so much for checking out our app; we look forward to helping you during these uncertain times! </p>


      <img src="https://www.irishtimes.com/polopoly_fs/1.3453007.1523026137!/image/image.jpg_gen/derivatives/box_620_330/image.jpg" style="width:400px;height:200px;">
{% endblock %}
