{% extends "layout_bootstrap.html" %}
{% set active_page = "/" %}

{% block content %}

    <p>Welcome To Our App! We hope we can help during these challenging times. Enter your name, email, and an item's link on Amazon's website and we will send you regular updates! </p>
    <form action="/submit" method="post">
        <label>Name:</label>
        <input type="text" name="uName"></input>
        <br>
        <label>Email:</label>
        <input type="text" name="email"></input>
        <br>
        <label>Link:</label>
        <input type="text" name="link"></input>
        <br>
        <button>submit</button>

    </form>

{% endblock %}
